{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Bulkit :: Home</title>
    <link rel="icon" type="image/png" href="https://bulkit.cssninja.io/assets/img/favicon.png" />

    <!--Core CSS -->
    <link href="{% static 'css/fonts.css' %}" rel="stylesheet">
    <link href="{% static 'css/mapbox-gl.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">
</head>


<body class="is-theme-core">

    <div class="pageloader">
    </div>
    <div class="infraloader is-active"></div>
    <!-- Fullheight Parallax Hero -->
    <nav class="navbar navbar-wrapper navbar-fade navbar-dark is-transparent">
        <div class="container">
            <!-- Brand -->
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <img class="light-logo" src="https://bulkit.cssninja.io/assets/img/logos/bulkit-purple.svg" alt="">
                    <img class="dark-logo switcher-logo" src="https://bulkit.cssninja.io/assets/img/logos/bulkit-purple.svg" alt="">
                </a>

                <!-- Sidebar Trigger -->
                <a id="navigation-trigger" class="navbar-item hamburger-btn" href="javascript:void(0);">
                    <span class="menu-toggle">
                        <span class="icon-box-toggle">
                            <span class="rotate">
                                <i class="icon-line-top"></i>
                                <i class="icon-line-center"></i>
                                <i class="icon-line-bottom"></i>
                            </span>
                    </span>
                    </span>
                </a>

                <!-- Responsive toggle -->
                <div class="custom-burger" data-target="">
                    <a id="" class="responsive-btn" href="javascript:void(0);">
                        <span class="menu-toggle">
                            <span class="icon-box-toggle">
                                <span class="rotate">
                                    <i class="icon-line-top"></i>
                                    <i class="icon-line-center"></i>
                                    <i class="icon-line-bottom"></i>
                                </span>
                        </span>
                        </span>
                    </a>
                </div>
                <!-- /Responsive toggle -->
            </div>

            <!-- Navbar menu -->
            <div class="navbar-menu">
                <!-- Navbar Start -->
                <div class="navbar-start">
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide scroll-link" href="#">
                            Event
                        </a>
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide scroll-link" href="#">
                            Attendees
                        </a>
                    <!-- Navbar item -->
                    <a class="navbar-item is-slide scroll-link" href="#">
                            Exhibitions
                        </a>
                </div>

                <!-- Navbar end -->
                <div class="navbar-end">
                    <!-- Signup button -->

                    {% if user.is_authenticated %}
                    <div class="navbar-item is-button">
                        <!-- Modal trigger -->
                        <a href="{% url 'user-logout' %}" class="button button-cta btn-align primary-btn raised">{{ _('Xin Chào') }} {{ user.last_name }} {{ user.first_name }}..Thoát</a>
                        <!-- /Modal trigger -->
                    </div>
                    {% else %}
                    <div class="navbar-item is-button">
                        <!-- Modal trigger -->
                        <a class="button button-signup btn-outlined is-bold btn-align light-btn raised" href="{% url 'user-register' %}">Đăng Ký</a>
                        <!-- /Modal trigger -->
                    </div>

                    <div class="navbar-item is-button">

                        <!-- Modal trigger -->
                        <a class="button button-cta btn-align primary-btn raised modal-trigger" data-modal="vertical-form-modal">Đăng Nhập</a>
                        <!-- /Modal trigger -->
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>